.top-bar {
  margin: 0 auto;
  float: left;
  border: none;
}

.top-outline {
  background-image: url('assets/images/top-outline.png');
  float: left;
}

.top-left-corner-odd {
  float: left;
  background-image: url('assets/images/top-left-corner-odd.png');
  cursor: pointer;
}

.top-left-corner-even {
  float: left;
  background-image: url('assets/images/top-left-corner-even.png');
  cursor: pointer;
}

.top-right-corner-odd {
  background-image: url('assets/images/top-right-corner-odd.png');
  background-repeat: no-repeat;
  float: right;
}

.top-right-corner-even {
  background-image: url('assets/images/top-right-corner-even.png');
  background-repeat: no-repeat;
  float: right;
}

.page-number-bar {
  display: inline;
  margin: 0 auto;
  border: none;
}

.page-number-top-left-even {
  float: left;
  background-image: url('assets/images/book-edge-middle-even.png');
  cursor: pointer;
}

.page-number-top-left-odd {
  float: left;
  background-image: url('assets/images/book-edge-middle-odd.png');
  cursor: pointer;
}

.page-number-middle {
  margin-left: auto;
  margin-right: auto;
  float: left;
  text-align: center;
}

.page-number-top-right-even {
  background-image: url('assets/images/book-edge-right-even.png');
  background-repeat: no-repeat;
  float: right;
}

.page-number-top-right-odd {
  background-image: url('assets/images/book-edge-right-odd.png');
  background-repeat: no-repeat;
  float: right;
}

.pcontent {
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.middle-navigation-even {
  float: left;
  background-image: url('assets/images/book-edge-middle-even.png');
  cursor: pointer;
}

.middle-navigation-odd {
  float: left;
  background-image: url('assets/images/book-edge-middle-odd.png');
  cursor: pointer;
}

.right-navigation-even {
  float: right;
  background-image: url('assets/images/book-edge-right-even.png');
  cursor: pointer;
}

.right-navigation-odd {
  float: right;
  background-image: url('assets/images/book-edge-right-odd.png');
  cursor: pointer;
}

.middle-bar {
  display: inline;
  margin: 0 auto;
  border: none;
}

.bottom-bar {
  margin: 0 auto;
  border: none;
  float: left;
}

.bottom-outline {
  background-image: url('assets/images/bottom-outline.png');
  float: left;
  text-align: center;
}

.bottom-left-corner-odd {
  float: left;
  background-image: url('assets/images/bottom-left-corner-odd.png');
}

.bottom-left-corner-even {
  float: left;
  background-image: url('assets/images/bottom-left-corner-even.png');
}

.bottom-right-corner-odd {
  background-image: url('assets/images/bottom-right-corner-odd.png');
  background-repeat: no-repeat;
  float: right;
}

.bottom-right-corner-even {
  background-image: url('assets/images/bottom-right-corner-even.png');
  background-repeat: no-repeat;
  float: right;
}

